{% extends 'base.html' %}
{% block content %}

        <script type="text/javascript"> 
        $(document).ready(function(){
            $(".button").click(function() {
            $("#playvideo").html(play(  $(this).find("a").attr("linkattr")));           
            return false; 
            });
        });
        function play(id)   {
        var html  = '';     
        html += '<iframe width="671" height="495" src="'+id+'" frameborder="0" allowfullscreen></iframe>';
        return html;
        };  
        </script>


<div id='playvideo'>
<iframe width="671" height="495"
src="http://www.youtube.com/embed/{{playlist[0][1]}}">
</iframe>
</div>

{{ topic }} {{ playlist |length }}
<div>
    {% for x in playlist %}
    <li class='button'><a linkattr="http://www.youtube.com/embed/{{x[1]}}?autoplay=1" href='#'>{{ x[0] }}</a> </li>
    {% endfor %}
</div>

{% endblock %} 




